@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "e-Ukraine Light";
    src: url("../fonts/e-Ukraine-Light.otf");
}
@font-face {
    font-family: "e-UkraineHead Regular";
    src: url("../fonts/e-UkraineHead-Regular.otf")
}

html {
    font-family: "e-Ukraine Light"
}
.logo {
    font-family: "e-UkraineHead Regular"
}
